.search-form {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.search-form input {
  padding: 10px;
  font-size: 15px;
  border: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  float: left;
  width: 300px;
  outline: none;
  background: #f1f1f1;
}
.search-form button {
  float: left;
  width: 50px;
  padding: 10px;
  background: #c3c2c2;
  color: #000;
  font-size: 15px;
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left: none;
  cursor: pointer;
}
